#grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.gridSquare {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu {
    width: 40%;
}

#myRange {
    width: 80%;
}

.slidecontainer label {
    font-size: 20px;
}
