#grid {
    width: 600px;
    height: 600px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.gridSquare {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

#menu {
    width: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#myRange {
    width: 80%;
}

.slidecontainer label {
    font-size: 20px;
}

#penMode {
    width: 100%;
    text-align: center;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

button {
    width: 50%;
    height: 60px;
}

#color {
    width: 30%;
    height: 50px;
}

#randomColor {
    width: 30%;
    height: 50px;
    margin-right: 11vh;
}
